body {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  color: aquamarine;
  tesxt-allign: justify;
  margin: 178px;

}

a {
  color: #00B7FF;
}

img {
  width: 400px;
  height: 130px;
  border: 10px green;
  float: right;
}

#block {
  height: 657px;
  background-color: bisque;
}

#text {
  text-align: right;
}